{% extends 'base.html.twig' %}

{% block main_content %}
    <div class="settings-page">
        <div class="container page">
            <div class="row">
                <div class="col-md-6 offset-md-3 col-xs-12">
                    <h1 class="text-xs-center">Your Settings</h1>
                    {% include('settings/components/settings-form-partial.html.twig') with {'form': form} %}
                    <hr/>
                    <a class="btn btn-outline-danger" href="{{ path('app_logout') }}">Or click here to logout.</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
