<button class="btn btn-sm btn-outline-primary"
        hx-post="{{ path('app_htmx_articlefavoritebutton_addfavoritearticle', {'slug': article.slug, 'format': 'large'}) }}"
        hx-swap="outerHTML">
    <i class="ion-heart"></i>
    &nbsp; {% if format == 'large' %}Favorite Post {% endif %}<span class="counter">({{ article.favoritedCount }})</span>
</button>
