<button class="btn btn-sm btn-outline-primary"
        hx-post="{{ path('app_htmx_articlefavoritebutton_addfavoritearticle', {'id': article.id, 'format': 'large'}) }}"
        hx-swap="outerHTML">
    <i class="ion-heart"></i>
    &nbsp; {% if format == 'large' %}Favorite Post <span class="counter">({{ article.favoritedCount }})</span>
    {% else %}<span class="counter">{{ article.favoritedCount }}</span>{% endif %}
</button>
