<button class="btn btn-sm btn-outline-secondary"
        hx-post="{{ path('app_htmx_followbutton_followuser', {'username': author.username}) }}"
        hx-swap="outerHTML">
    <i class="ion-plus-round"></i>
    &nbsp; Follow {{ author.username }} ({{ author.followers.count }})
</button>
