{% extends 'base.html.twig' %}

{% block main_content %}
    <div class="home-page">
        <div class="banner">
            <div class="container">
                <h1 class="logo-font">conduit</h1>
                <p>A place to share your knowledge.</p>
            </div>
        </div>

        <div class="container page">
            <h1>404 - Page not found</h1>
            You seem to be lost... the page you are looking for does not exist.
            You can go back to the <a href="{{ path('app_home') }}">homepage</a>
        </div>
    </div>

{% endblock %}
